<div class="deskripsi-profil flex-grow-1">
    <div class="row">
        <div class="col">
            <label for="basic-url">Nama</label>
            <div class="input-group mb-3">
                <input style="width: 100%;" type="text" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3" value="Bagas Afza Joko Ariyanto">
            </div>
        </div>
        <div class="col">
            <label for="basic-url">Tempat, Tanggal Lahir</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                    value="Demak, 05 Juni 2001">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="basic-url">Jenis Kelamin</label>
            <div class="input-group mb-3">
                <input style="width: 100%;" type="text" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3" value="Laki - Laki">
            </div>
        </div>
        <div class="col">
            <label for="basic-url">Alamat</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                    value="Ds. Batu RT 03 RW 01 Kecamatan Karangtengah Kabupaten Demak">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="basic-url">No Telp Wali</label>
            <div class="input-group mb-3">
                <input style="width: 100%;" type="text" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3" value="0987654321123">
            </div>
        </div>
        <div class="col">
            <label for="basic-url">Agama</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="Islam">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="basic-url">Riwayat Penyakit</label>
            <div class="input-group mb-3">
                <textarea style="width: 100%;" type="text" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3" value="0987654321123"></
                                            </div>
                                        </div>
                                    </div>
                                </div>